/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Jan-2017, 07:50:24
    Author     : Kipnight
*/


#navigation {
        padding-bottom: 80px;
        border: 5px;

}

#logo_column img{
 
    padding-left: 135px;
    padding-bottom: 30px;

}
